/* Widget
******************/

$widget-default-distance: 30px;
$default-margin-padding: 20px;

// Colors
$default-green:  #1cc3c9;
$link-lightGreen: #98bd29;

$black: #000;
$white: #fff;

$text-gray: #a1a1a1;
$text-grayDark: #646464;
$background-gray: #f6f5f5;
$background-grayLight: #EFEFEF;
$border-gray: #d6d6d6;


$sidebar-background: $background-gray;
$text-color: $text-gray;
$border-color: $border-gray;
$titles-color: $black;
$section-background: $background-grayLight;
$text-light: $white;
$primary-color: $default-green;

$feature-title-color: $black;
$feature-text-color: $text-grayDark;
