.logos-top {
    padding: 10px;
}

.logos-top a:first-child:after {
    content: "";
    width: 1px;
    height: 24px;
    border-left: 2px solid #4a4a4a;
    color: #fff;
    display: inline-block;
    position: relative;
    top: 10px;
    margin: 0 15px;
}
