@media (max-width: 992px) {

	.box-title-banner {

		.title-banner {
			font-size: 22px !important;
			margin-left: 71px;
		}

		.second-title-banner {
			font-size: 28px!important; 
			margin-left: 71px;
		} 
	}
}

@media (max-width: 400px) {

	.box-title-banner {

		.title-banner {
			font-size: 14px !important;
			margin-left: 71px;
			line-height: 10px;
		}

		.second-title-banner {
			font-size: 17px!important; 
			margin-left: 71px;
			line-height: 20px;
		} 
	}
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0 !important;
	}
}