@media (max-width: 1170px) {
	.banner{ min-height: 188px; }
}

@media (max-width: 1710px) {
	.banner{ min-height: 240px; }
}


@media (max-width: 1530px) {
	.banner{ min-height: 183px !important; }
}

@media (max-width: 1195px) {
	.banner{ min-height: 174px !important; }
}

@media (min-width: 1710px) {
	.banner{ min-height: 260px !important; }
}

@media (max-width: 1130px) {
	.banner{ min-height: 162px !important; }
}

@media (max-width: 962px) {
	.banner{ min-height: 90px !important; }
}

@media (max-width: 580px) {
	.banner{ min-height: 73px !important; }
}

@media (max-width: 420px) {
	.banner{ min-height: 47px !important; }
}

@media (max-width: 950px) {
	.tab-content.nav-vertical{  margin-left: 100px;
	}
}
