/* elements */

.devs text {
    text-transform: uppercase;
    font-weight: 800;
}

.devs .body {
    fill: #ffffff;
    /*stroke: #31d0c6;*/
    stroke-width: 6px;
}

.devs .label {
    /*fill: #31d0c6;*/
    font-size: 16px;
    text-align: bottom;
}

.devs .port-body {
    stroke: #ffffff;
    stroke-width: 3px;
    /*fill: #7c68fc;*/
}

.devs .port-body:hover {
    opacity: 1;
    fill: #ff7e5d;
}

.devs .port-label {
    /*fill: #7c68fc;*/
}

.devs.Atomic .body {
    stroke: #feb663;
}


.devs.Atomic .label {
    fill: #feb663;
}

/* links */

.link .connection {
    stroke: #4B4F6A;
    stroke-width: 4px;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #31D0C6;
}
.link .marker-arrowhead:hover {
    fill: #F39C12;
}

.link-tools .tool-remove circle {
    fill: #fe854f;
}

/* highlighting */

.devs.highlighted-parent .body {
    stroke: #fe854f;
    transition: stroke 1s;
}

.devs.highlighted-parent .label {
    fill: #fe854f;
    transition: fill 1s;
    text-decoration: underline;
}

