
.bar {
  fill-opacity: .8;
   cursor: pointer;
}
.bar text {
	text-rendering: optimizelegibility;
	cursor: pointer;
}

.bar:hover {
	fill-opacity: 1;
}
.axis text {
  font: 10px sans-serif;
  text-rendering: optimizelegibility;
}

.axis path,
.axis line {
  fill: none;
  stroke: #383838;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}



.d3-tip {	
  font-family: 'Ubuntu', sans-serif;
  text-rendering: optimizelegibility;
  font-size: 11px;
  line-height: 1;
  padding: 12px 14px;
  background: rgba(0, 0, 0, 0.7);
  color:#CCCCCC;
  border-radius: 8px;
}


.d3-tip span {
	color:#FFFFFF;
	font-size: 16px;
	line-height: 20px;
	z-index: 1000;	
}

.d3-tip div {
	padding: 3px 0px;
}

.d3-tip span:first-child {
	font-size: 18px;
}

/*
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.5);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently 
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip.e:after {content: ""; }


*/


