.row
  .col-lg-12
    .well.bs-component
      .basic-grey
        %h1{style: "text-align: center"} Team
        %subtitle Supervisores
        %h4 Israel Guerra de Moura - Mestrando em Ciência da Computação
        %h4 João Victor dos Anjos Barbara - Bacharel em Ciência da Computação
        %h4 Michel Almada de Castro Boaventura - Mestre em Ciência da Computação
        %h4 Guilherme Maluf Martins Balzana - Bacharel em Ciência da Computação
        %subtitle Estagiários
        %h4 João Pedro Foscarini - Graduando em Ciência da Computação
        %h4 Matheus Gonçalves - Graduando em Sistemas de Informação
        %h4 Diogo Marques Santana - Graduando em Sistemas de Informação
        %h4 Gabriel Bessa - Graduando em Ciencia da Computação
        %h4 Marina Montanari - Graduando em Sistemas de Informação
        %h4 Yuri Carvalho Pains - Graduando em Sistemas de Informação
