{% extends "base.html" %}

{% block content %}

<h1 class="page-header" style="margin-top: 0px;">Criar Nova Tarefa</h1>

<form role="form" action="/tarefa/criar/" method="post">
  {% csrf_token %}
  {% for field in form %}
      <div class="form-group">
          {{ field.label_tag }} {{ field }}
          {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
          {% endif %}
          {{ field.errors }}
      </div>
  {% endfor %}
  <div class="form-group">
    <button type="submit" class="btn btn-success" value="Submit">Criar e Executar</button>
  </div>
</form>

<script src="{% url 'parametros_algoritmos' %}"></script>

{% endblock %}
